{% extends "layout.html" %}
{% block main %}
<form action="/barber_register" method="post" >
    <div>
        <label for="name">Name: </label>
        <input type="text" id="name" name="name" autocomplete="off" required>
    </div>
    <div>
        <label for="shop">Shop: </label>
        <input type="text" id="shop" name="shop" autocomplete="off" required>
    </div>
    <div>
        <label for="photo">Upload your profile photo: </label>
        <input type="file" id="photo" name="photo" accept="image/*" required>
    </div>
    <button type="submit">Confirm </button>
</form>
{% end block %}